extends ../partials/head

block content
  .header
    .header-search-container
      .header-search
        img(src="../../../images/search.png" id="search-button")
        input(type="text" id="header-search-input" placeholder="Search")
    img(src="../../../images/night-mode.png" id="dark-mode-button")
    img(src="../../../images/day-mode.png" id="day-mode-button")
  .mid-note-write-container#mid-note-write-container
    .mid-note-write#mid-note-write
      input(type="text" id="mid-note-input" placeholder="Take Note...")
    .mid-large-box#mid-large-box.gizle
      .mid-large-box-title 
        textarea#mid-large-box-title-input(placeholder="Title") 
      .mid-large-box-content
        textarea.mid-large-box-content-input(placeholder="You can write here...") 
        button.mid-save-button#mid-save-button(type="button") Add
  .main  
    .note-boxes-container#note-boxes-container    
      