extends ../partials/head

block content
  .header
    .header-search-container
      .header-search
        img(src="../../../images/search.png" id="search-button")
        input(type="text" id="header-search-input" placeholder="Search")
    img(src="../../../images/night-mode.png" id="dark-mode-button")
    img(src="../../../images/day-mode.png" id="day-mode-button")
  .mid-note-write-container#mid-note-write-container
    .mid-note-write#mid-note-write
      input(type="text" id="mid-note-input" placeholder="Take Note...")
  .main  
    .note-boxes-container#note-boxes-container    
      