extends ../partials/head

block content
  .header
    .header-search
      img(src="../../../images/search.png" id="search-button")
      input(type="text" id="header-search-symbol" placeholder="Search")
  .mid-note-write-container#mid-note-write-container
    .mid-note-write#mid-note-write
      input(type="text" id="mid-note-input" placeholder="Take Note...")
  .main  
    .note-boxes-container#note-boxes-container    
      