extends ../partials/head

block content
  .header
    .headerSearch
      img(src="../../../images/search.png" id="search")
      input(type="text" id="headerSearchB" placeholder="Search")
    //- .headerAdd
    //-   img(src="../../../images/greyPlus.png" id="plusImage")
  .middleNoteTakingField#midNoteTake
    .middleBox#midBox
      input(type="text" id="middleBoxNote" placeholder="Take Note...")
  .main  
    .mainBoxList#mainBoxList