:root {
    --height-header: 50px;
    --height-full: 100%;
    --height-fBox-title: 10%;

    --width-header: calc(100% -50px);
    --width-header-add: 10%;
    --width-header-add-button: 100%;
    --width-header-search-button: 100%;
    --width-full: 100%;

    --header-margin: 10px 25px 0;
    --header-padding: 0 10px 0;
    
    --header-search-width: 600px;
    --header-search-padding-right: 10px;
    --header-search-padding-left: 50px;
    --header-search-border-radius: 10px;

    --dark-day-button-height: 50px;

    --mid-note-write-container-margin: 25px 40px 25px; 

    --mid-note-write-border-radius: 10px;
    --mid-note-write-padding: 0 10px 0;
    --mid-note-write-height: 100px;
    --mid-note-write-width: 500px;

    --mid-note-input-height: 70%;
    --mid-note-input-width: 100%;

    --mid-large-box-width: 500px;
    --mid-large-box-height: 150px;
    --mid-large-box-gap: 25px;
    --mid-large-box-padding: 10px;
    
    --each-box-container-width: 400px;
    
    --each-box-padding: 10px;
    --each-box-width: 100%;
    --each-box-height: 200px; 
    
    --note-boxes-container-padding: 0 10px 0;

    --search-button-left: 10px;
    --search-button-height: 80%;


    --gap-header: 10px;
    --gap-bw-title-content: 10px;
    --gap-bw-main-boxes: 10px;

    --theme-color: white;
    --text-color: black;
    --border: none;

    
    --search-box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 10px -1px, rgba(0, 0, 0, 0.12) 0px 4px 8px -1px;
    --search-background: #F1F3F4;

    --boxes-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
*{
    box-sizing: border-box;
    color: var(--text-color);
} 
html {
    margin: 0;
    padding: 0;
}  
body {
    background-color: var(--theme-color);
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: var(--width-header);
    height: var(--height-header);
    gap: var(--gap-header);
    margin: var(--header-margin);
    padding: var(--header-padding);
    flex-wrap: nowrap;
}
.header-search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.header-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space;
    padding-right: var(--header-search-padding-right);
    padding-left: var(--header-search-padding-left);
    border-radius: var(--header-search-border-radius);
    position: relative;

    width: var(--header-search-width);
    height: var(--height-full);
    background-color: var(--search-background);
    border: var(--border);
}
.header-search:focus-within {
    box-shadow: var(--search-box-shadow);
    background-color: white;
}
.header-search:focus-within #header-search-input {
    background-color: white; 
}
#dark-mode-button, #day-mode-button {
    position: relative;
    height: var(--dark-day-button-height);
    width: auto;
    margin-left: auto;
}
#header-search-input {
    width: var(--width-header-search-button);
    height: var(--height-full);
    border: none;
    outline: none;
    background-color: var(--search-background);
}

.mid-note-write-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    margin: var(--mid-note-write-container-margin);
}
.mid-note-write {
    border: var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--mid-note-write-border-radius);
    padding:var(--mid-note-write-padding) ;
    height: var(--mid-note-write-height);
    width: var(--mid-note-write-width);
    box-shadow: var(--boxes-shadow);   
}
#mid-note-input {
    height: var(--mid-note-input-height);
    width: var(--mid-note-input-width);
    border: 0;
    outline: 0;
    background-color: var(--theme-color);
}
#mid-note-input::placeholder {
    position: absolute;
    top: 0;
    transform: translateY(0); 
    text-align: left;
}
.mid-large-box {
    width: var(--mid-large-box-width);
    height: var(--mid-large-box-height);
    border-radius: var(--header-search-border-radius);
    gap: var(--mid-large-box-gap);
    padding: var(--mid-large-box-padding);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: var(--boxes-shadow);
    border: var(--border);
}
.mid-large-box-title {
    width: var(--width-full);
    height: var(--height-fBox-title);
}
#mid-large-box-title-input {
    width: 100%;
    background-color: var(--theme-color);
}
.mid-large-box-content{
    position: relative;
    width: var(--width-full);
    height: calc(100% - var(--height-fBox-title) - var(--gap-bw-title-content));
    
}   
.mid-large-box-content::placeholder {
    position: absolute;
    top: 0;
    transform: translateY(0); /* Ensures the placeholder is at the top */
    text-align: left; /* Aligns the placeholder text to the left */
}
.mid-large-box-content-input {
    width: 100%;
    height: calc(100% - 18px);
    background-color: var(--theme-color);
}
.mid-save-button {
    position: absolute;
    right: 0;
    bottom: 0;
    border: 0;
    outline: 0;
    background-color: var(--theme-color);
    color: #5F6368
}
.mid-save-button:hover {
    opacity: 0.5;
}

.each-box {
    width: var(--each-box-width);
    height: var(--each-box-height);
    border-radius: var(--header-search-border-radius);
    padding: var(--each-box-padding);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--gap-bw-title-content);
    background-color: var(--theme-color);
    box-shadow: var(--boxes-shadow);
    border: var(--border);
    
}

.each-box-title {
    width: var(--width-full);
    height: 100%;
    background-color: var(--theme-color);

}

.each-box-content {
    position: relative;
    width: var(--width-full);
    height: calc(100%);
}   
.eachBoxContent::placeholder {
    position: absolute;
    top: 0;
    transform: translateY(0); /* Ensures the placeholder is at the top */
    text-align: left; /* Aligns the placeholder text to the left */
}
.each-box-content-input {
    width: 100%;
    height: calc(100% - 18px);
    background-color: var(--theme-color);
}
.update-button {
    position: absolute;
    right: 0;
    bottom: 0;
    border: 0;
    outline: 0;
    background-color: var(--theme-color);
    color:  #5F6368;


}
.update-button:hover, .delete-button:hover {
    opacity: 0.5;
}
.delete-button {
    position: absolute;
    left: 0;
    bottom: 0;
    border: 0;
    outline: 0;
    background-color: var(--theme-color);
    color:  #5F6368;

}
.note-boxes-container {
    width: auto;
    height: auto;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: var(--note-boxes-container-padding);
    gap: var(--gap-bw-main-boxes);
}
.each-box-container {
    width: var(--each-box-container-width);
    height: auto;
}
#search-button {
    position: absolute;
    left: var(--search-button-left);
    height: var(--search-button-height);
    width: auto;
}

img:hover {
    opacity: 0.5;
}
textarea {
    border: 0;
    outline: 0;
    resize: none;
}
.gizle {
    display: none;
}

@media (max-width: 650px) {
    .each-box-container {
        width: 100%;
        height: auto;
    }  
}
@media (max-width: 768px) {

    
    .header-search-container {
        max-width: 100%; /* Allow search to use full width on small screens */
    }
    
    .header-search {
        min-width: 100%; /* Ensure search input can grow */
    }
}

@media (min-width: 650px) and (max-width: 900px) {
    .each-box-container {
        width: calc((100% - var(--gap-bw-main-boxes)) / 2);
        height: auto;
    }   
}
@media (min-width: 900px) and (max-width: 1100px) {
    .each-box-container {
        width: calc((100% - 2 * var(--gap-bw-main-boxes)) / 3);
        height: auto;
    }     
}
@media (min-width: 1100px) {
    .each-box-container {
        width: calc((100% - 3 * var(--gap-bw-main-boxes)) / 4);
        height: auto;
    }  
}